@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*, *::after, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
}

.white-font {
    color: white;
}

:root {
    --primary-background-color : hsl(0, 0%, 15%);
    --secondary-background-color : hsl(0, 0%, 5%);
    --hover-background-color : hsl(0, 0%, 5%);
}

nav {
    background-color: var(--primary-background-color);
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2rem;
    position: relative;
}

.menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: var(--primary-background-color);
    min-width: 100vw;
    min-height: 250px;
}

.menu-active {
    display: flex;
}

.sub-menu {
    display: none;
    flex-direction: column;
    
}

.sub-menu-active {
    display: flex;
}

.sub-menu-item {
    position: relative;
}

.sub-menu-item > a {
    display: inline-block;
    padding-block: 22.25px;
}

.logo {
    letter-spacing: 1px;
}

.menu-item > a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 22.25px;
}

.menu-item {
    text-align: center;
}

.menu-item:hover {
    background-color: var(--hover-background-color);
}

.menu-btn .fa-solid {
    font-size: 1.5rem;
}

.fa-caret-down {
    font-size: 75%;
    margin-left: 10px;
    position: absolute;
    right: 40px;
}

@media screen and (min-width: 968px) {

    .menu-btn {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
        position: static;
        min-width: 450px;
        min-height: auto;  
        margin-right: 2rem;
    }

    .menu-item > a {
        padding: 1rem;
    }

    .fa-caret-down {
        position: static;
    }

    .sub-menu {
        position: absolute;
        top: 100%;
        left: 0px;
        min-width: 100vw;
        background-color: var(--background-color);
    }

    .sub-menu-active {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: start;
        background-color: var(--secondary-background-color);
    }

    .sub-menu-item > a:hover {
        text-decoration: underline;
    }
}